.Nav {
    background: #000;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem ;
}

.NavLink {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor:default;
    font-weight: bold;
    font-size: 20pt;
}

.EndSection {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.NavMenu {
    display: flex;
    align-items: center;
    margin-right: -24px;

    @media screen and (max-width: 768px) {
        display: none;
    }
}