.Nav {
    display: flex;
    height: calc(50px + 1vh);
    width: 60vw;
    min-width: 400px;
    border-radius: 10px;
    justify-content: flex-end;
    background-color: aliceblue;
}

.EndSection {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0px 10px 2px;
}