.categoryForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categoryButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 2vh;
}

.categoryField {
    width: 65%
}

.categoryButtons button{
    width: calc(60px + 3vw);
    height: calc(30px + 2vh);
    width: 60%;
}


.categoryPicker {
    width: 100%
}