html {
  box-sizing: border-box;
  }
*, *:before, *:after {
  box-sizing: inherit;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;  
}

.checkin {
  display: flex;
  flex-direction: column;
  width: calc(250px + 40vw);
  height: 100%;
}

.searchBar {
  background-image: url("https://cdn2.iconfinder.com/data/icons/font-awesome/1792/search-512.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 100%;
  font-size: 20px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  margin-top: 3vh;
}
  
.scrollable {
  overflow: auto;
}

.clientTable {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.1em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgb(0 0 0 / 15%);
}

.clientTable thead tr {
  background-color: #009879;
  color: white;
  text-align: left;
}

.clientTable th, 
.clientTable td {
  padding: 12px 15px;
}

.clientTable, td, tr, th {
  border: 0px
}

.clientTable tbody tr {
  cursor: pointer;
  background-color: #f3f3f3;
  border-bottom: 1px solid #dddddd;
}

.clientTable tbody tr td {
  text-align: left;
}

.clientTable tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.clientTable tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.clientTable tbody tr:hover {
  font-weight: bold;
  color: #009879;
}