a:link {
    text-decoration: none;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    text-decoration: none;
    color: #fff;
    height: 100%;
    font-weight: bold;
    font-size: 20pt;
    font-weight: bold;
    font-size: 20pt;
}

.Nav {
    background: #000;
    height: calc(50px + 2vh);
    display: flex;
    padding-left: 10vw;
    justify-content: space-between;
    padding: 0.5rem ;
}

.NavLink {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    height: 100%;
    cursor:default;
}

.EndSection {
    display: flex;
    align-items: center;
    padding-right: 5vw;
    margin-right: 24px;
}

.NavMenu {
    display: flex;
    align-items: center;
    margin-right: -24px;

    @media screen and (max-width: 768px) {
        display: none;
    }
}