.productsPage {
    margin-top: 3vh;
    width: calc(350px + 25vw);
}

.productsPage h1{
    font-family: sans-serif;
    text-align: center;
}

.productsTable {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.3em;
    table-layout: fixed;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
}

.productsTable tbody,
.productsTable thead tr {
    display: block;
}

.productsTable tbody {
    max-height: calc(100px + 40vh);
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
}

.productsTable, .productsTable td, .productsTable tr, .productsTable th {
    border: 0px;
    text-align: left;
}

.productsTable thead tr th:nth-child(1),
.productsTable tbody tr td:nth-child(1)  {
    width : 40%
}

.productsTable thead tr th:nth-child(2),
.productsTable tbody tr td:nth-child(2)  {
    width : 15%
}

.productsTable thead tr th:nth-child(3),
.productsTable tbody tr td:nth-child(3)  {
    width : 15%
}


.productsTable thead tr {
    border-radius: 10px;
    background-color: #009879;
    color: white;
    text-align: left;
}

.productsTable th,
.productsTable td {
    padding: 12px 15px;
}

.productsTable tbody tr {
    border-bottom: 1px solid #dddddd
}

.productsTable tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}

.productsTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.productsTable tbody tr:last-of-type {
    border-radius: 10px;
    border-bottom: 2px solid #009879;
}

.productsTable tbody tr button {
    width: calc(20px + 1vw)
}

.productsButtonPanel {
    display:flex;
    flex-direction: row;
    margin-top: 5px;
    justify-content: flex-end;
}

.productsButtonPanel button {
    height: 50px;
    margin-left: 5px;
    width : calc(100px + 4vw);
    color: white;
}